<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">A fully responsive Angular + Spring Boot ecommerce application
            </p>
        </div>
    </div>
</header>
<!-- Section-->


<section>
    <div class="container">
        <div class="row col-xs-12">
            <div class="m-5">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean metus magna, cursus non dapibus
                    vestibulum, posuere ac orci. Donec feugiat molestie ipsum id sodales. Ut sollicitudin dui sem, vel
                    mattis nisl ultrices at. Suspendisse faucibus ultrices eros, non ornare odio mattis eu. Duis enim
                    orci,
                    feugiat at rhoncus vitae, euismod vel ipsum. Vivamus in lobortis orci. Nullam sapien odio, tincidunt
                    vel
                    semper vel, aliquet sit amet enim. Ut convallis metus sit amet ligula luctus, id pretium neque
                    condimentum.</p>

                <p>Phasellus vel maximus arcu, a consectetur lacus. Aliquam et tincidunt lorem. Curabitur cursus nibh eu
                    pellentesque ultricies. Duis egestas, eros non fringilla tincidunt, massa urna imperdiet orci, sit
                    amet
                    eleifend turpis orci in ante. Maecenas facilisis dui in mauris malesuada aliquet. Ut pellentesque
                    ultricies iaculis. Nulla facilisi. Suspendisse volutpat metus vitae enim cursus, sed efficitur nisl
                    mollis. Etiam at felis mattis, tempus massa in, consequat lacus. Etiam mollis, dolor ac faucibus
                    luctus,
                    massa lectus ullamcorper lectus, eget lobortis nisi urna quis elit. Donec suscipit vehicula lacinia.
                    Cras vel condimentum erat. Integer orci lorem, euismod ac tristique eu, posuere sed velit.
                    Suspendisse
                    eu imperdiet ipsum, vel efficitur nulla. Praesent nec enim id enim placerat convallis. Nulla
                    interdum
                    felis odio, ut tincidunt dolor fermentum eu.</p>

                <p>Nunc sodales viverra elit, ac aliquet turpis pellentesque eget. Nullam eu vestibulum est, id euismod
                    neque. Curabitur imperdiet consectetur suscipit. Integer iaculis finibus erat, in venenatis libero
                    molestie sit amet. Proin quis nunc et libero faucibus posuere. Aliquam lacinia urna pharetra elit
                    volutpat lacinia. Proin eu metus feugiat mauris auctor pharetra quis sit amet dui. Vivamus eget est
                    auctor, ultricies libero sit amet, venenatis lorem. Morbi pharetra in magna hendrerit lobortis. Sed
                    imperdiet nisl augue. Proin vulputate leo hendrerit sollicitudin blandit. Morbi ut semper leo, eget
                    egestas eros. Cras eu volutpat leo. Nam ex magna, varius nec justo quis, dictum ultricies urna.
                    Nulla
                    accumsan commodo vestibulum.</p>

                <p>Donec vel neque eget eros sagittis pulvinar quis id nunc. Praesent id vestibulum nunc. Quisque non
                    orci
                    gravida, volutpat nisl eu, consectetur libero. Integer faucibus ultrices dictum. Quisque aliquet
                    sagittis eros eget ornare. Curabitur tristique dolor sit amet tellus efficitur malesuada. In at diam
                    dignissim, varius libero eget, vehicula nibh. Ut convallis venenatis suscipit. Duis porta tempus
                    tellus,
                    sed condimentum urna sodales in. Praesent condimentum, tortor quis pretium consectetur, turpis neque
                    venenatis nisi, sed condimentum urna justo eget sem.</p>

                <p>Duis iaculis lacus ut tincidunt euismod. In hac habitasse platea dictumst. Sed et nunc lacus.
                    Phasellus
                    ultricies nisi et posuere egestas. Curabitur vehicula, ex eget eleifend commodo, lorem neque
                    volutpat
                    dolor, consectetur porta justo justo nec massa. Sed malesuada dui ut finibus mollis. Suspendisse
                    porttitor lorem eget nibh ultrices, id volutpat dui elementum. Mauris aliquam metus et faucibus
                    cursus.
                    Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla sit amet nisl lorem. Duis ac
                    purus
                    nec urna accumsan aliquet.</p>

                <p>Generated 5 paragraphs, 467 words, 3194 bytes of Lorem Ipsum</p>
            </div>

        </div>
    </div>
</section>