
<div>
    <div *ngIf="!isAuthenticated">
        <a class="login-status" (click)="login()">
            <i class="fa fa-user" aria-hidden="true"></i><span>&#160;Login</span>
        </a>
    </div>
    <div *ngIf="isAuthenticated">
        <a class="login-status" (click)="logout()">
            <i class="fa fa-user" aria-hidden="true"></i><span>&#160;Logout</span>
        </a>
    </div>


</div>


<!--
<ul class="navbar-nav ms-auto mb-2 mb-lg-0 flex-row" style="float: right;">
     <li *ngIf="isAuthenticated && userFullName" class="nav-item me-3"><span>Welcome <b>{{ userFullName }}</b>!</span>
    </li>
    <li *ngIf="isAuthenticated" class="nav-item me-3">
        <a class="login-status" routerLink="/orders"><span>&#160;Orders</span></a>
    </li>
    <li *ngIf="!isAuthenticated" class="nav-item me-3">
        <a class="login-status" (click)="login()">
            <i class="fa fa-user" aria-hidden="true"></i><span>&#160;Login</span>
        </a>
    </li>
    <li *ngIf="isAuthenticated" class="nav-item me-3">
        <a class="login-status" (click)="logout()">
            <i class="fa fa-user" aria-hidden="true"></i><span>&#160;Logout</span>
        </a>
    </li>
</ul>
-->

<!--
<div>
    <div *ngIf="isAuthenticated && userFullName" class="login-status-user-info">
        Welcome <b>{{ userFullName }}</b>!
    </div>

    <div>
        <a *ngIf="!isAuthenticated" routerLink="/orders"><span style="padding-left: 5px;">Orders</span></a>
    </div>

    <div  class="cart-area d-n">
        <a *ngIf="!isAuthenticated" (click)="login()"><i class="fa fa-user" aria-hidden="true"></i><span style="padding-left: 5px; vertical-align: sub;">Login</span></a>
        <a *ngIf="isAuthenticated" (click)="logout()"><i class="fa fa-user" aria-hidden="true"></i><span style="padding-left: 5px; vertical-align: sub;">Logout</span></a>
    </div>


</div>
-->