<section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <!-- Navigation-->
          <header class="text-center mb-5">
            <h2>Completed</h2>
          </header>
          <ul class="nav nav-tabs nav-fill border-bottom mb-5 flex-column flex-md-row">
            <li class="nav-item"><a class="nav-link disabled" href="#">1. Shopping cart</a></li>
            <li class="nav-item"><a class="nav-link disabled" href="#">2. Billing Information</a></li>
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">3. Completed</a></li>
          </ul>
          <div class="text-center">
            <svg class="svg-icon text-primary svg-icon-xl svg-icon-light mb-4">
              <use xlink:href="#delivery-time-1"> </use>
            </svg>
            <h1>Thank you</h1>
            <div class="row">
              <div class="col-lg-7 mx-auto">
                <p class="text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div><a class="btn btn-primary" routerLink="products"><i class="fas fa-shopping-bag me-2"></i>Continue shopping</a>
          </div>
        </div>
      </div>
    </div>
  </section>

